$brand: #1c1c1c;
$brand-on-hover: grey;
$brand-on-disabled: rgba(0, 0, 0, 0.05);

$primary-text-color-disabled: rgba(0, 0, 0, 0.1);
$primary-blue: #E3F5FF;
$primary-purple: #E5ECF6;

$black-20: rgba(0, 0, 0, 0.2);

$outline-button-color: rgba(0, 0, 0, 0.2);

// cards colors

// modal colors

// color
$white: #ffffff;
$black-100 :#1C1C1C;
$dark-gray:#8F8F8F;
$primaryLight: #f7f9fb;
$grey: grey;
$black-5: rgba(0, 0, 0, 0.05);
$primaryGrey: #333333;
$notification-time : rgb(0, 0, 0.4);
$black-russian:#1C1C1C;
$black-russian-7:rgb(3, 2, 41,0.7);
$black-russian-1:rgb(3, 2, 41,0.1);
$red: #F7F7F8;
$black:#000000;
$notice-card-border: #7BB6D7;
$notice-card-background: #FAFCFF;
$notice-card-views: #6D6D6D;
$notice-card-date: #333333;
$notice-dot: #D9D9D9;
$notice-button:#95A4FC;

